.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/lienzo.jpg");
  background-size: cover;
  height: 100vh;
  cursor: url("../images/pincel.png"), auto;
}

.button {
  width: 200px;
  height: 100px;
  margin-bottom: 150px;
  background-color: rgb(243, 243, 159);
  font-size: 30px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
