html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3bc1ac;
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: #e5e5f7;
  background-image:  radial-gradient(#031214 1px, transparent 1px), radial-gradient(#e211e9 1px, #a5e9e5 1px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
}
  .voiceinator {
    padding: 2rem;
    width: 50rem;
    margin: 0 auto;
    border-radius: 1rem;
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  }
}

.voiceinator {
  
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: 0.5rem;
  background: #f09d59f1;
  border-bottom: 5px solid #f09d59f1;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: "Pacifico", cursive;
  text-shadow: 3px 3px 0 #f09d59f1;
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: #f7f7f7;
  outline: 0;
}

textarea {
  height: 20rem;
}

input[type="select"] {
}

.voiceinator button {
  background: #f09d59f1;
  border: 0;
  width: 49%;
  float: left;
  font-family: "Pacifico", cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #f09d59f1;
  cursor: pointer;
  position: relative;
}

.voiceinator button:active {
  top: 2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
.range{
  font-size: 16px;
  color:#0c7061
}